.bgimg{
	background-image: url('bg2.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 800px;
}


.headerset{
	padding-top: 250px;
	box-sizing: border-box;
}

.headerset h2{
	font-size: 42px;
}

.headerset h1{
	font-size: 82px;
	font-weight: bold;
}


/*OUR SERVICES*/
.ourservices{
	padding: 100px 0px 60px;
	height: 700px;
}

.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}

.rowsetting{
	margin: 80px 0px;
}

.rowsetting h2{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
}

.rowsetting p{
	color: #6c757d;
	padding: 10px;
}

.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.fa-shopping-cart{
	margin-top: 22px;
}

.fa-desktop{
	margin-top: 25px;
}

.fa-lock{
	margin-top: 25px;
}

/*PORTFOLIO*/
.portfolio{
	height: 1100px;
	width: 100%;
	padding: 100px 0px 50px;
}

.portfolio h1{
	font-size: 50px;
	font-weight: bold;
}

.card{
	margin-top: 40px;
}



/*OUR TEAM*/
.ourteam{
	height: 700px;
	padding: 100px 0px 60px;
	width: 100%;
}

.ourteam h1{
	font-size: 50px;
	font-weight: bold;
}

.teamsetting{
	margin-top: 70px !important;
}



/*FOOTER*/
.footer{
	height: 50px;
}

.footer h6{
	line-height: 50px;
}



/*RESPONSIVE WEBSITE*/
@media(min-width: 992px){
	
}

@media(min-width: 768px) and (max-width: 991px){
	.headerset h2{
	font-size: 42px;
    }

.headerset h1{
	font-size: 62px;
	font-weight: bold;
    }
}

@media(min-width: 575px) and (max-width: 767px){
	.ourservices{
	height: 1500px;
    }

.portfolio{
	height: 1000px;
	}

.ourteam{
    height: 3000px;
    }	
}
}

@media(min-width: 460px) and (max-width: 574px){
	
}

@media(max-width:479px ){
	
.headerset h2{
	font-size: 22px;
    }

.headerset h1{
	font-size: 42px;
	font-weight: bold;
    }
	
.ourservices{
	height: 1300px;
    }

.portfolio{
	height: 2600px;
	}

.ourteam{
    height: 1400px;
    }	
}